<div class="grid">
    <div class="col1">
        <img src="<%= cover_image %>" alt="">
    </div>
    <div class="col2">
        <h2><%= title %></h2>
        <ul>
            <li><span class="bold">Author: </span><%= author %></li>
            <li><span class="bold">Plot: </span><%= bio %></li>

            <li><span class="bold">Rating: </span><%= rating %></li>
        </ul>

        <% if logged_in?%>

            <form action="/books/session" method="post">
                <input type="hidden" name="_method" value="delete">
                <button class="logged-in">Want to Read</button>
        </form>

        <%else%>
            <button class="not-logged-in">
                <a href="/books/login">Want to Read</a>
            </button>
        <% end %>
    </div>
</div>
