<div class="book-details-grid-div">
    <div class="col1">
        <img class="book-detail-img" src="<%= cover_image %>" alt="">
    </div>
    <div class="col2">
        <h2><%= title %></h2>

        <% if logged_in?%>

            <%if records.count>0%>
                <div class="book-update-div">
                    <% if records[0]["book_status"] == 'want' %>
                        <p>This book is on your <a href="/books/want">want to read list</a></p>
                    <% elsif records[0]["book_status"] == 'current' %>
                        <p>You are <a href="/books/current">currently reading this book</a></p>
                    <% elsif records[0]["book_status"] == 'read' %>
                        <p>You have <a href="/books/finished">read this book</a></p>
                    <% end %>
                </div>
                
            <%else%>

                <form action="/books/want/<%= book_id %>" method="post">
                    <button class="logged-in-btn">
                        Want to Read
                    </button>
                </form>

            <% end %>

        <%else%>

            <div class="not-loggedin-btn-div">
                <button class="not-logged-in-btn">
                    <a class="details-login-link" href="/books/login">Login to Manage Lists</a>
                </button>
            </div>

        <% end %>

        <ul class="book-details-list">
            <li><span class="bold">Author: </span><%= author %></li>
            <li><span class="bold">Rating: </span><%= rating %></li>
            <li><span class="bold">Genre: </span><%= rating %></li>
            <li><span class="bold">Plot: </span><%= bio %></li>

        </ul>

        <%# This is so messy it brings me nightmares %>
        <div class="book-club-update-div">
            <% if club_list_arr.count > 0 %>
                <h3>Book Club Details</h3>
                <% club_list_arr.each do |club_id| %>
                    <% if club_book_records.count > 0%>
                        <% club_book_records.each do |book_record|%>
                            <% if  club_id.to_i == book_record["club_id"].to_i%>
                                <% if book_record["book_status"] == 'want' %>
                                    <p>This book is listed in your <%= club_details(club_id.to_i)["club_name"]%> club as want to read</p>
                                <% elsif book_record["book_status"] == 'current' %>
                                    <p>This book is  listed in your <%= club_details(club_id.to_i)["club_name"]%> club as reading</p>
                                <% elsif book_record["book_status"] == 'read' %>
                                    <p>This book is listed in your <%= club_details(club_id.to_i)["club_name"]%> club as read.</p>         
                                <% else %>
                                    <form class="add-to-club-form" action="/books/club/add/<%= club_id.to_i %>/<%= book_id %>" method="post">
                                        <button>Add to <span class="bold"><%= club_details(club_id.to_i)["club_name"]%></span> club want to read list</button>
                                    </form>
                                <% end %>
                            <% else %>
                                <form class="add-to-club-form" action="/books/club/add/<%= club_id.to_i %>/<%= book_id %>" method="post">
                                    <button>Add to <span class="bold"><%= club_details(club_id.to_i)["club_name"]%></span> club want to read list</button>
                                </form>
                            <% end %>
                        <% end %>
                    <% else %>
                        <form class="add-to-club-form" action="/books/club/add/<%= club_id.to_i %>/<%= book_id %>" method="post">
                            <button>Add to <span class="bold"><%= club_details(club_id.to_i)["club_name"]%></span> club want to read list</button>
                        </form>                        
                    <% end %>
                <% end%>
            <% end %>
        </div>

    </div>
</div>
