<div class="book-details-grid-div">
    <div class="col1">
        <img src="<%= cover_image %>" alt="">
    </div>
    <div class="col2">
        <h2><%= title %></h2>
        <ul>
            <li><span class="bold">Author: </span><%= author %></li>
            <li><span class="bold">Plot: </span><%= bio %></li>

            <li><span class="bold">Rating: </span><%= rating %></li>
        </ul>

        <% if logged_in?%>

            <%if records.count>0%>
                <% if records[0]["book_status"] == 'want' %>
                    <p>You want to read this book</p>
                <% elsif records[0]["book_status"] == 'current' %>
                    <p>You are currently reading</p>
                <% elsif records[0]["book_status"] == 'read' %>
                    <p>You have read this book</p>
                <% end %>

            <%else%>

                <form action="/books/want/<%= google_id %>" method="post">
                    <button class="logged-in">
                        Want to Read
                    </button>
                </form>

            <% end %>

        <%else%>

            <button class="not-logged-in">
                <a href="/books/login">Want to Read</a>
            </button>

        <% end %>
    </div>
</div>
