<div class="book-details-grid-div">
    <div class="col1">
        <img src="<%= cover_image %>" alt="">
    </div>
    <div class="col2">
        <h2><%= title %></h2>
        <ul>
            <li><span class="bold">Author: </span><%= author %></li>
            <li><span class="bold">Plot: </span><%= bio %></li>

            <li><span class="bold">Rating: </span><%= rating %></li>
        </ul>

        <% if logged_in?%>

            <%if records.count>0%>
                <div class="book-update-div">
                    <% if records[0]["book_status"] == 'want' %>
                        <p>This book is on your <a href="/books/want">want to read list</a></p>
                    <% elsif records[0]["book_status"] == 'current' %>
                        <p>You are <a href="/books/current">currently reading this book</a></p>
                    <% elsif records[0]["book_status"] == 'read' %>
                        <p>You have <a href="/books/finished">read this book</a></p>
                    <% end %>
                </div>
            <%else%>

                <form action="/books/want/<%= google_id %>" method="post">
                    <button class="logged-in-btn">
                        Want to Read
                    </button>
                </form>

            <% end %>

        <%else%>

            <button class="not-logged-in-btn">
                <a href="/books/login">Want to Read</a>
            </button>

        <% end %>
    </div>
</div>
