<h2><%= club["club_name"] %></h2>

<div class="account-div">
    <aside class="account-menu-aside">
        <p><a href="/books/want">Want to Read</a></p>
        <p><a href="/books/current">Currently Reading</a></p>
        <p><a href="/books/finished">Books you've read</a></p>
        <p><a href="/books/clubs">Clubs</a></p>
        <p><a href="/books/myaccount">My Account</a></p>
    </aside>

    <main class="account-main">
        <% if admin?(club["id"]) %>
            <form class="add-user-to-club-form" action="/books/club/new_member/<%= club["id"] %>" method="post">
                <input type="email" name="email" placeholder="Enter new members email address">
                <button>Invite User</button>
            </form>
        <% end %>


        <h3>Want to Read List</h3>
        <% if want_list.count>0 %>
            <% want_list.each do |book| %>
                <div class="club-book-container-div">
                    <div class="book-image-div">
                        <img class="club-book-img" src="<%= one_book(book["book_id"])["volumeInfo"]["imageLinks"]["smallThumbnail"] %>" alt="">
                    </div>
                    <div class="book-desc-div">
                        <a href="/books/details/<%= book["book_id"]%>">                
                            <p><%= one_book(book["book_id"])["volumeInfo"]["title"] %></p>
                            <p>By <%= one_book(book["book_id"])["volumeInfo"]["authors"].join %></p>
                        </a>
                        <% if admin?(club["id"]) %>
                            <form class="current-reading-form" action="/books/club/current/<%= club["id"] %>/<%= book["book_id"] %>" method="post">
                                <input type="hidden" name="_method" value="put">
                                <button>Currently Reading</button>
                            </form>

                            <form class="delete-book-form" action="/books/club/<%= club["id"] %>/<%= book["book_id"] %>" method="post">
                                <input type="hidden" name="_method" value="delete">
                                <button>Delete</button>
                            </form>
                        <% end %>


                    </div>
                </div>
            <%end%>
        <% else %>
            <p>You currently have no books on your want list</p>
        <% end %>

        <h3>Currently Reading</h3>
        <% if current_list.count>0 %>
            <% current_list.each do |book| %>
                <div class="club-book-container-div">
                    <div class="book-image-div">
                        <img class="club-book-img" src="<%= one_book(book["book_id"])["volumeInfo"]["imageLinks"]["smallThumbnail"] %>" alt="">
                    </div>
                    <div class="book-desc-div">
                        <a href="/books/details/<%= book["book_id"]%>">                
                            <p><%= one_book(book["book_id"])["volumeInfo"]["title"] %></p>
                            <p>By <%= one_book(book["book_id"])["volumeInfo"]["authors"].join %></p>
                        </a>

                        <form class="current-reading-form" action="/books/club/finished/<%= club["id"] %>/<%= book["book_id"] %>" method="post">
                            <input type="hidden" name="_method" value="put">
                            <button>Finished Reading</button>
                        </form>

                        <form class="delete-book-form" action="/books/club/<%= club["id"] %>/<%= book["book_id"] %>" method="post">
                            <input type="hidden" name="_method" value="delete">
                            <button>Delete</button>
                        </form>


                    </div>
                </div>
            <%end%>
        <% else %>
            <p>You aren't reading any books currently</p>
        <% end %>


        <h3>Finished Reading</h3>
        <% if read_list.count>0 %>
            <% read_list.each do |book| %>
                <div class="club-book-container-div">
                    <div class="book-image-div">
                        <img class="club-book-img" src="<%= one_book(book["book_id"])["volumeInfo"]["imageLinks"]["smallThumbnail"] %>" alt="">
                    </div>
                    <div class="book-desc-div">
                        <a href="/books/details/<%= book["book_id"]%>">                
                            <p><%= one_book(book["book_id"])["volumeInfo"]["title"] %></p>
                            <p>By <%= one_book(book["book_id"])["volumeInfo"]["authors"].join %></p>
                        </a>
                    </div>
                </div>
            <%end%>
        <% else %>
            <p>You haven't finished any books</p>
        <% end %>
    </main>
</div>